<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.shuttle.model.dao.TBJobDao">

	<resultMap type="com.project.shuttle.model.dto.TBJobDto" id="JobDto">
		<result property="jobSeq" column="JOB_SEQ" />
		<result property="userId" column="USER_ID" />
		<result property="jobTitle" column="JOB_TITLE" />
		<result property="jobContent" column="JOB_CONTENT" />
		<result property="jobReward" column="JOB_REWARD" />
		<result property="jobAddr" column="JOB_ADDR" />
		<result property="jobCategory" column="JOB_CATEGORY" />
		<result property="jobComplete" column="JOB_COMPLETE" />
		<result property="jobDate" column="JOB_DATE" />
		<result property="jobStart" column="JOB_START" />
		<result property="jobDone" column="JOB_DONE" />
		<result property="jobView" column="JOB_VIEW" />
	</resultMap>
	
	<insert id="insert" parameterType="com.project.shuttle.model.dto.TBJobDto">
	INSERT INTO TB_JOB VALUES ( TB_JOB_SEQ.NEXTVAL, #{userId}, #{jobTitle}, #{jobContent}, #{jobReward}, #{jobAddr}, #{jobCategory}, 'N', SYSDATE, #{jobStart}, #{jobDone}, 0)
	
	</insert>	
	
	<select id="selectList" resultMap="JobDto">
	SELECT JOB_SEQ, USER_ID, JOB_TITLE, JOB_CONTENT, JOB_REWARD, JOB_ADDR, JOB_CATEGORY, JOB_COMPLETE, JOB_DATE, JOB_START, JOB_DONE, JOB_VIEW
	FROM TB_JOB ORDER BY JOB_SEQ DESC
	</select>
	
	<select id="selectOne" resultMap="JobDto" parameterType="int">
	SELECT JOB_SEQ, USER_ID, JOB_TITLE, JOB_CONTENT, JOB_REWARD, JOB_ADDR, JOB_CATEGORY, JOB_COMPLETE, JOB_DATE, JOB_START, JOB_DONE, JOB_VIEW
	FROM TB_JOB WHERE JOB_SEQ  = #{jobSeq}
	FROM TB_JOB WHERE JOB_SEQ  = #{jobSeq} 
	</select>

	<update id="addView" parameterType="int">
	UPDATE TB_JOB 
	SET JOB_VIEW = (SELECT JOB_VIEW FROM TB_JOB WHERE JOB_SEQ = #{jobSeq}) + 1 
	WHERE JOB_SEQ = #{jobSeq}
	</update>


</mapper>
